body {
  text-align: center;

  /*  Este margin es para evitar que se vean espacios en las orilas del navegador*/
  margin: 0px;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: antialiased;
}

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid rgb(230, 56, 56);
}

#logo {
  width: 30%;
  font-size: 30px;
  /* Float sirve para alinear un elemento, haciendo que el texto de alrededor del mismo se agrupe entorno a dicho elemento */
  float: left;
  margin-top: 35px;
}

.center {
  width: 75%;
  margin: 0px auto;
}

.clearfix {
  clear: both;
  float: none;
}


#logo img {
  display: block;
  float: left;
  height: 65px;
  margin-top: -20px;
  animation: palpitar infinite 1s linear;
}

@keyframes palpitar {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.02, 1.02);
  }

  55% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1,1);
  }
}

#brand {
  display: block;
  margin: 0px;
  float: left;
  margin-top: -3px;
}

#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 79%;
  float: right;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

.year-red-one {
  display: block;
  background: rgb(189, 64, 64);
  color: white;
  padding: 5px;
  width: 50px;
  text-align: center;
}

.year-color-two {
  display: block;
  background: rgb(189, 64, 64);
  color: white;
  padding: 5px;
  width: 100px;
  text-align: center;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover,
.active {
  color: rgb(230, 56, 56) !important;
  outline: none !important; -moz-outline-style: none !important;
}


#slider {
  width: 100%;
  height: 350px;
  /* line-height: 320px; */
  color: white;
  /* Sombra en el texto */
  text-shadow: 0px 0px 5px #444;


  background: rgba(248,80,50,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 62%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,1)), color-stop(45%, rgba(241,111,92,1)), color-stop(62%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 62%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 62%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 62%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 45%, rgba(246,41,12,1) 62%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );


}

#slider h1 {
  margin-top: 0px;
  text-align: center;
  padding-top: 130px;
}

.btn-white {
  display: block;
  background: white;
  color: #444;
  padding: 10px;
  width: 100px;
  height: 35px;
  margin: 0px auto;
  font-size: 18px;
  /* text-transform: uppercase; */
  text-shadow: none;
  text-decoration: none;
  line-height: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #ccc;
  margin-top: 40px;
  transition: 300ms all;
}

.btn-white:hover {
  background: #444;
  color: white;
}

.btn-white:active{
  transform: scale(1.1);

  /* Elimina el borde punteado que pone firefox al seleccionar el botón */
  outline: none !important; -moz-outline-style: none !important;
}

.btn-white:focus{
  outline: none !important; -moz-outline-style: none !important;
}

.btn-warning {
  background-color: rgb(238, 165, 6) !important;
  color: white !important;
}

.btn-danger {
  background-color: rgb(201, 21, 21) !important;
  color: white !important;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: 0px;
  padding: 0px;
  padding-top: 53px;
}

#content {
  width: 70%;
  float: left;
  /* border: 1px solid red; */
  /* Altura mínima */
  min-height: 650px;
  margin-right: 25px;
}

#sidebar {
  width: 25%;
  float: left;
  /* border: 1px solid green; */
}

.sidebar-item {
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3{
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #eee;
}

.input-text {
  width: 95%;
  margin-bottom: 10px;
}

.sidebar-item .btn {
  margin-top: 10px;
  margin: 0px auto;
}

.btn {
  background: rgb(230, 56, 56);
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  transition: 300ms;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.btn-succes {
  /* background: rgb(52, 178, 231); */
}

.btn-succes:hover {
  background: rgb(180, 6, 6);
}

.mid-form {
  width: 60%;
  margin: 0px auto;
}

.mid-form label {
  display: block;
  text-align: left;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.mid-form .btn{
  float: left;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 5px;
  transition: 300ms all;

}

.btn.up_btn.afu-attach-pin {
  display: block !important;
  width: 100% !important;
  max-width: 90% !important;
  margin-top: 15px
}


.image-thumb img {
  width: 150px;
}

input[type="text"] :focus,
textarea:focus {
  box-shadow: 0px 0px 5px #ccc inset;
}

textarea {
  width: 100%;
  height: 100px;

  min-width: 100%;
  min-height: 100px;

  max-width: 100%;
  max-height: 300px;
}

.radio-buttons {
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
}

#footer {
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img{
  height: 100%;
  text-align: center;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: #333;
}

.article-item a {
  display: block;
  color: #3d518c;
  text-decoration: none;
  margin-top: 10px;
}

.article-item a:hover {
  text-decoration: underline;
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
}

.article-detail .image-wrap {
  float: none;
  width: 100%;
  height: 300px;
}

.article-detail .image-wrap img {
  width: 100%;
  height: auto;
}

.article-detail .subheader {
  margin-top: 15px;
  margin-bottom: 0px;
}


@media (max-width: 1263px) {
  .center {
    width: 95%;
  }
}

@media (max-width: 999px) {
  #logo {
    width: 285px;
  }
  #menu {
    width: auto;
  }
  #menu ul {
    width: auto;
  }
}

@media (max-width: 916px) {
  #logo {
    float: none;
    margin: 0px auto;
    margin-top: 20px;
  }

  #menu,
  #menu ul {
    clear: both;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 43px;
  }

  #content {
    float: none;
    width: 100%;
  }

  #sidebar{
    float: none;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
  }

  #slider h1 {
    padding-top: 115px;
    font-size: 25px;
  }
}
  @media (max-width: 887px) {
    #header {
      min-height: 130px;
    }

    #menu,
    #menu ul {
      line-height: 50px;
    }
    #menu ul li {
      margin-left: 7px;
      margin-right: 7px;
    }

    #slider {
      height: 130px;
    }

    #slider h1 {
      font-size: 19px;
      padding-top: 30px;
    }

    #slider .btn-white {
      height: 20px;
      margin-top: 20px;
      line-height: 20px;
    }

    #slider .slider-small {
      height: 100px;
    }

    #slider .slider-small h1 {
      padding-top: 35px;
    }
    .mid-form {
      width: 70%;
    }
  }

@media (max-width: 467px) {
  #logo {
    margin-top: 30px;
  }

  #logo img{
    height: 50px;
  }

  #brand {
    font-size: 26px;
  }

  #menu {
    font-size: 15px;
  }
}

@media (max-width: 410px) {
  #menu {
    font-size: 12px;
  }
  #slider h1 {
    padding-top: 18px;
  }

}
