<app-slider [nombre]="'Formulario'" [size]="'small'"></app-slider>

<div class="center">
  <section id='content'>
	<h1 class="subheader">Formulario</h1>
  <!-- <div id="datos-al-vuelo" *ngIf="user.nombre">
    <h2 class="subheader"> Datos al vuelo </h2>
    <ul>
      <li>
        {{user.nombre}}
      </li>
      <li>
        {{user.apellidos}}
      </li>
      <li>
        {{user.bio}}
      </li>
      <li>
        {{user.genero}}
      </li>
    </ul>
  </div> -->
  <!-- #userForm nos permite darle nombre al formulario
  El formulario es de tipo ngForm -->
	{{user.nombre}}
  <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()" action="">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <!-- Indico el nombre del formulario de Angular con #nombre -->
          <!-- Con [(ngModel)] digo que modifique el la propiedad nombre de user -->
          <input type="text" name="nombre" #nombre="ngModel" [(ngModel)] = "user.nombre" value="" required pattern="[a-z, A-Z]+">
          
          <!-- Me muestra el mensaje hasta que el usuario ha tocado el input y si no es valido -->
          <small *ngIf="!nombre.valid && nombre.touched">
            El nombre no es válido
          </small>

        </div>

        <div class="form-group">
          <label for="nombre">Apellidos</label>
          <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)] = "user.apellidos" value="" required>
          <small *ngIf="!apellidos.valid && apellidos.touched">
            Los apellidos no son válidos
          </small>
        </div>

        <div class="form-group">
          <label for="nombre">Biografía</label>
          <textarea name="bio" #bio="ngModel" [(ngModel)] = "user.bio" rows="8" cols="80" required></textarea>
          <small *ngIf="!bio.valid && bio.touched">
            La biografía no es válida
          </small>
        </div>
        <div class="form-group radio-buttons">
          <input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero" required/> Hombre
          <input type="radio" name="genero" value="mujer" #genero="ngModel" [(ngModel)]="user.genero"/> Mujer
          <input type="radio" name="genero" value="otro" #genero="ngModel" [(ngModel)]="user.genero"/> Otro
          <small *ngIf="!genero.valid && genero.touched">
            El genero no es válido
          </small>
        </div>
        <div class="clearfix"></div>
        <!-- Deshabilito el botón en caso de que sea inválido -->
        <input class="btn btn-succes" type="submit" [disabled]="userForm.invalid" name="enviar" value="Enviar">
      </form>
      <h2 class="subheader">Eventos</h2>
      <!---------------- Eventos -------------------->
      <!-- Evento onClick -->
      <button (click)="hasDadoClick()">Dale click</button>
      <!-- Onblur indica cuando salgo de un input -->
      <!-- <input type="text" [(ngModel)]="campo" (blur)="hasSalido()"/> -->
      
      <!-- Keyup indica cuando dejo de presionar una tecla, tambien puedo especificar que tecla -->
      <input type="text" [(ngModel)]="campo" (keyup.enter)="hasSalido()"/>
      {{campo}}
 </section>
</div>